.twitch-live-badge {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.twitch-live-badge,
.twitch-live-badge:link,
.twitch-live-badge:hover,
.twitch-live-badge:active,
.twitch-live-badge:visited {color:white;text-decoration: none;}
.twitch-live-badge.offline{background-color: #333;}
.twitch-live-badge.online{background-color: red;}
.twitch-live-badge.full {width:100%;}
